body {
    font-family: 'Roboto', sans-serif, 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
}

header {
    text-align: start;
    color: white;
    background-color: #1F2937;
}

header .p {
    font-weight: bold;
    color: black;
}

.head-container {
    display: flex; 
    flex-direction: row;
    color: white;
    background-color: #1F2937;
}

.singup-button-container {
    margin: 10px;
    padding: 10px;
}

.signup-button {
    background-color: #3882f6;
    border-radius: 12px;
    color: white;
    border: none;
}

.img-container {
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    background-color: white;
    margin-top: 30px;
}

img {
    width: 300px;
    height: 200px;
    background-color: grey;
    margin: 20px 60px;
}

.caption-container {
    display: flex;
    flex-direction: row;
    justify-items: center;
    height: 100%;
    width: 100%;
    margin-bottom: 30px;
    background-color: white;
}

.caption-container h3 {
    text-align: center;
    height: 100%;
    width: 100%;
}

.quote-container {
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    background-color: grey;
}

footer {
    width: 100%;
    height: 100%;
    margin-top: 50px;
}

footer p {
    align-self: center;
    background-color: #1F2937;
    color: white;
}

.footer-button {
    align-self: center;
    background-color: #3882f6;
    border-radius: 12px;
    color: white;
    border: none;
}

